{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Welcome to the Home Page</h1>
    <p>This is a sample Symfony application using Twig templates.</p>
{% endblock %}
<div class="entries" data-archive="default" data-layout="grid" data-cards="boxed" data-hover="zoom-in">
    <article class="entry-card card-content post-2522 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path>
                </svg>
                <a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title">
            <a href="https://bidyakolpo.in/somane-soman-golpo-story-jashim-uddin/" rel="bookmark">সমানে সমান – জসীম উদ্দিন</a>
        </h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/somane-soman-golpo-story-jashim-uddin/" aria-label="সমানে সমান – জসীম উদ্দিন">
            <img width="768" height="432" src="https://bidyakolpo.in/wp-content/uploads/Somane-soman-golpo-story-Jashim-Uddin-768x432.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="সমানে সমান গল্প - জসীম উদ্দিন Somane soman golpo story Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/Somane-soman-golpo-story-Jashim-Uddin-768x432.jpg 768w, https://bidyakolpo.in/wp-content/uploads/Somane-soman-golpo-story-Jashim-Uddin-300x169.jpg 300w, https://bidyakolpo.in/wp-content/uploads/Somane-soman-golpo-story-Jashim-Uddin-1024x576.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/Somane-soman-golpo-story-Jashim-Uddin.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>ছোট্ট একটা নদী, হাঁটিয়াই পার হওয়া যায়। তার পশ্চিম পারে থাকে এক ট্যাটন, নাম ধূলি । পুব পারে থাকে আর এক ট্যাটন । তার নাম বালি । ট্যাটন মানে অতি চালাক। লোক ঠকাইয়া বেড়ানোই তাহার পেশা । বালি এক ছালা বিচেকলার বীজ মাথায় লইয়া…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/somane-soman-golpo-story-jashim-uddin/">
            Read More<span class="screen-reader-text">সমানে সমান – জসীম উদ্দিন</span>
        </a>
    </article>

{#     <span class="ezoic-grid-wrapper"> #}
{#         <span id="ezoic-pub-ad-placeholder-709" data-method="ai-placeholders" class="ezoic-autoinsert-ad"></span> #}
{#         <span data-ez-ph-id="709"></span> #}
{#     </span> #}

    <article class="entry-card card-content post-2202 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path>
                </svg>
                <a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title">
            <a href="https://bidyakolpo.in/thakur-moshayer-lathi-golpo-story-jashim-uddin/" rel="bookmark">ঠাকুর মশায়ের লাঠি গল্প জসীম উদ্দিন</a>
        </h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/thakur-moshayer-lathi-golpo-story-jashim-uddin/" aria-label="ঠাকুর মশায়ের লাঠি গল্প জসীম উদ্দিন">
            <img width="768" height="485" src="https://bidyakolpo.in/wp-content/uploads/20240301_222134-768x485.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="ঠাকুর মশায়ের লাঠি গল্প জসীম উদ্দিন Thakur moshayer lathi golpo story Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/20240301_222134-768x485.jpg 768w, https://bidyakolpo.in/wp-content/uploads/20240301_222134-300x189.jpg 300w, https://bidyakolpo.in/wp-content/uploads/20240301_222134-1024x646.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/20240301_222134.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>বামুন ঠাকুর কিছুই আয় করিতে পারে না। পূজা আর্চা করিয়া কিইবা সে পায়। বউ দিনরাত খিটখিট করে, এটা আন নাই—ওটা আন নাই । শুধু কি এমনি খিটিখিটি ? মাঝে মাঝে ঝাঁটা উঁচাইয়া ঠাকুর মশায়কে মারিয়া নাস্তানাবুদ করে। কাঁহাতক আর এত…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/thakur-moshayer-lathi-golpo-story-jashim-uddin/">
            Read More<span class="screen-reader-text">ঠাকুর মশায়ের লাঠি গল্প জসীম উদ্দিন</span>
        </a>
    </article>

    <article class="entry-card card-content post-2134 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path>
                </svg>
                <a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title">
            <a href="https://bidyakolpo.in/goppar-bou-hashir-golpo-jashim-uddin/" rel="bookmark">গোপ্যার বউ – জসীম উদ্দীন</a>
        </h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/goppar-bou-hashir-golpo-jashim-uddin/" aria-label="গোপ্যার বউ – জসীম উদ্দীন">
            <img width="768" height="485" src="https://bidyakolpo.in/wp-content/uploads/20240219_185724-768x485.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="গোপ্যার বউ বাঙালির হাসির গল্প জসীম উদ্দীন Goppar Bou Bangalir Hashir golpo Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/20240219_185724-768x485.jpg 768w, https://bidyakolpo.in/wp-content/uploads/20240219_185724-300x189.jpg 300w, https://bidyakolpo.in/wp-content/uploads/20240219_185724-1024x646.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/20240219_185724.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>গোপ্যাকে লইয়া পাড়ার লোকের হাসি-তামাশার আর শেষ নাই। কেহ তাহার মাথায় কেরাসিন তৈল মালিশ করিতে ছুটিয়া আসে, কেহ তাহার গায়ে ধূলি দেয়। তবু তার গল্প থামে না। জোয়ারের পানির মতো তাহার মুখ হইতে সব সময় নানা রকম মিছা আজগুবি গল্প…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/goppar-bou-hashir-golpo-jashim-uddin/">
            Read More<span class="screen-reader-text">গোপ্যার বউ – জসীম উদ্দীন</span>
        </a>
    </article>

    <article class="entry-card card-content post-2130 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path>
                </svg>
                <a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title">
            <a href="https://bidyakolpo.in/tumvi-kathal-khaya-golpo-story-jashim-uddin/" rel="bookmark">জসীম উদ্দিনের গল্প তুমভি কাঁঠাল খায়া</a>
        </h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/tumvi-kathal-khaya-golpo-story-jashim-uddin/" aria-label="জসীম উদ্দিনের গল্প তুমভি কাঁঠাল খায়া">
            <img width="768" height="485" src="https://bidyakolpo.in/wp-content/uploads/20240219_122727-768x485.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="জসীম উদ্দিনের গল্প তুমভি কাঁঠাল খায়া Tumvi kathal khaya Golpo Story Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/20240219_122727-768x485.jpg 768w, https://bidyakolpo.in/wp-content/uploads/20240219_122727-300x189.jpg 300w, https://bidyakolpo.in/wp-content/uploads/20240219_122727-1024x646.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/20240219_122727.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>এক কাবুলিওয়ালা বাংলাদেশে নতুন আসিয়াছে। বাজারে যাইয়া দেখে বড় বড় কাঁঠাল বিক্রি হইতেছে। পাকা কাঁঠালের কেমন সুবাস! না জানি খাইতে কত মিষ্টি! তাহার দেশে তো এত বড় ফল পাওয়া যায় না। মাত্র আট আনা দিয়া মস্ত বড় একটা কাঁঠাল সে…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/tumvi-kathal-khaya-golpo-story-jashim-uddin/">
            Read More<span class="screen-reader-text">জসীম উদ্দিনের গল্প তুমভি কাঁঠাল খায়া</span>
        </a>
    </article>

{#     <span class="ezoic-grid-wrapper"> #}
{#         <span id="ezoic-pub-ad-placeholder-710" data-method="ai-placeholders" class="ezoic-autoinsert-ad"></span> #}
{#         <span data-ez-ph-id="710"></span> #}
{#     </span> #}

    <article class="entry-card card-content post-2064 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path></svg><a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title"><a href="https://bidyakolpo.in/jid-hashir-golpo-funny-story-jashim-uddin/" rel="bookmark">জসীম উদ্দীনের হাসির গল্প জিদ</a></h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/jid-hashir-golpo-funny-story-jashim-uddin/" aria-label="জসীম উদ্দীনের হাসির গল্প জিদ">
            <img width="768" height="485" src="https://bidyakolpo.in/wp-content/uploads/20240213_135424-768x485.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="জসীম উদ্দীনের হাসির গল্প জিদ Jid Hashir Golpo Funny Story Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/20240213_135424-768x485.jpg 768w, https://bidyakolpo.in/wp-content/uploads/20240213_135424-300x189.jpg 300w, https://bidyakolpo.in/wp-content/uploads/20240213_135424-1024x646.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/20240213_135424.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>এক তাঁতি আর তার বউ! তারা বড়ই গরিব। কোনদিন খায়-কোনদিন খাইতে পায় না। তাঁত খুঁটি চালাইয়া, কাপড় বুনাইয়া, কিইবা তাহাদের আয়? আগেরকার দিনে তারা বেশি উপার্জন করিত। তাহাদের হাতের একখানা শাড়ি পাইবার জন্য বাদশাজাদীরা, কত নবাবজাদীরা তাহাদের উঠানে গড়াগড়ি পাড়িত।…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/jid-hashir-golpo-funny-story-jashim-uddin/">
            Read More<span class="screen-reader-text">জসীম উদ্দীনের হাসির গল্প জিদ</span>
        </a>
    </article>

    <article class="entry-card card-content post-2052 post type-post status-publish format-standard has-post-thumbnail hentry category-jashim-uddin-bangla-golpo-bengali-story tag-bengali-kids-story-chotoder-golpo tag-bangla-hashir-golpo-mojar-golpo-bengali-funny-story">
        <ul class="entry-meta" data-type="icons:slash" data-id="rD7V2n">
            <li class="meta-categories" data-type="pill">
                <svg width="13" height="13" viewBox="0 0 15 15">
                    <path d="M14.4,1.2H0.6C0.3,1.2,0,1.5,0,1.9V5c0,0.3,0.3,0.6,0.6,0.6h0.6v7.5c0,0.3,0.3,0.6,0.6,0.6h11.2c0.3,0,0.6-0.3,0.6-0.6V5.6h0.6C14.7,5.6,15,5.3,15,5V1.9C15,1.5,14.7,1.2,14.4,1.2z M12.5,12.5h-10V5.6h10V12.5z M13.8,4.4H1.2V2.5h12.5V4.4z M5.6,7.5c0-0.3,0.3-0.6,0.6-0.6h2.5c0.3,0,0.6,0.3,0.6,0.6S9.1,8.1,8.8,8.1H6.2C5.9,8.1,5.6,7.8,5.6,7.5z"></path>
                </svg>
                <a href="https://bidyakolpo.in/jashim-uddin-bangla-golpo-bengali-story/" rel="tag" class="ct-term-77">জসীম উদ্দিন</a>
            </li>
        </ul>
        <h2 class="entry-title"><a href="https://bidyakolpo.in/napit-daktar-golpo-story-jashim-uddin/" rel="bookmark">জসীম উদ্দীনের গল্প নাপিত ডাক্তার</a></h2>
        <a class="ct-media-container boundless-image has-hover-effect" href="https://bidyakolpo.in/napit-daktar-golpo-story-jashim-uddin/" aria-label="জসীম উদ্দীনের গল্প নাপিত ডাক্তার">
            <img width="768" height="485" src="https://bidyakolpo.in/wp-content/uploads/20240212_121158-768x485.jpg" class="attachment-medium_large size-medium_large wp-post-image" alt="জসীম উদ্দীনের গল্প নাপিত ডাক্তার Napit Daktar Golpo Story Jashim Uddin" loading="lazy" decoding="async" srcset="https://bidyakolpo.in/wp-content/uploads/20240212_121158-768x485.jpg 768w, https://bidyakolpo.in/wp-content/uploads/20240212_121158-300x189.jpg 300w, https://bidyakolpo.in/wp-content/uploads/20240212_121158-1024x646.jpg 1024w, https://bidyakolpo.in/wp-content/uploads/20240212_121158.jpg 1280w" sizes="auto, (max-width: 768px) 100vw, 768px" style="aspect-ratio: 4/3;"/>
        </a>
        <div class="entry-excerpt">
            <p>ঠোট্ট একটা শহর। সেখানে সবচাইতে বড় ডাক্তার হইয়া পড়িল এক নাপিত। ছোটখাট অসুখে এটা ও্টা ঔষধ দিয়াই নয়, ফোঁড়া কাটা হইতে আরম্ভ করিয়া রোগীর পেট চিরিয়া রোগীর পেট চিরিয়া পেট হইতে পুঁজ বাহির করিয়া দেওয়া পর্যন্ত বড় বড় কাটাছেঁড়ার কাজও…</p>
        </div>
        <a class="entry-button wp-element-button ct-button" href="https://bidyakolpo.in/napit-daktar-golpo-story-jashim-uddin/">
            Read More<span class="screen-reader-text">জসীম উদ্দীনের গল্প নাপিত ডাক্তার</span>
        </a>
    </article>
</div>
