{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Welcome to the Home Page</h1>
    <p>This is a sample Symfony application using Twig templates.</p>
{% endblock %}